<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     - -------------------------------------- 0.3/6.0 MB ? eta -:--:--
     ------- -------------------------------- 1.0/6.0 MB 2.8 MB/s eta 0:00:02
     ----------------- ---------------------- 2.6/6.0 MB 4.7 MB/s eta 0:00:01
     ---------------------- ----------------- 3.4/6.0 MB 5.6 MB/s eta 0:00:01
     -------------------------- ------------- 3.9/6.0 MB 4.1 MB/s eta 0:00:01
     --------------------------------- ------ 5.0/6.0 MB 4.2 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=sqlalchemy-1.3.9-cp312-cp312-win_amd64.whl size=1164536 sha256=49d8c40c2c5cba2d79461d351c759a1cf0a815620d5fb3f09ad9d331c5678c0e
  Stored in directory: c:\users\oalya\appdata\local\pip\cache\wheels\b3\1c\42\0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.40
    Uninstalling SQLAlchemy-2.0.40:
      Successfully uninstalled SQLAlchemy-2.0.40
Successfully installed sqlalchemy-1.3.9

WARNING: Ignoring invalid distribution ~treamlit (C:\Users\oalya\miniconda3\envs\env\Lib\site-packages)
  DEPRECATION: Building 'sqlalchemy' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'sqlalchemy'. Discussion can be found at https://github.com/pypa/pip/issues/6334
WARNING: Ignoring invalid distribution ~treamlit (C:\Users\oalya\miniconda3\envs\env\Lib\site-packages)
WARNING: Ignoring invalid distribution ~treamlit (C:\Users\oalya\miniconda3\envs\env\Lib\site-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
langchain 0.3.25 requires SQLAlchemy<3,>=1.4, but you have sqlalchemy 1.3.9 which is incompatible.
langchain-community 0.3.25 requires SQLAlchemy<3,>=1.4, but you have sqlalchemy 1.3.9 which is incompatible.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in c:\users\oalya\miniconda3\envs\env\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\oalya\miniconda3\envs\env\lib\site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython-sql) (9.2.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.42-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: sqlparse in c:\users\oalya\miniconda3\envs\env\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\oalya\miniconda3\envs\env\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\oalya\miniconda3\envs\env\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\oalya\miniconda3\envs\env\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.13.2)
Requirement already satisfied: colorama in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\oalya\appdata\roaming\python\python312\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\oalya\appdata\roaming\python\python312\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\oalya\appdata\roaming\python\python312\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\oalya\appdata\roaming\python\python312\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\oalya\appdata\roaming\python\python312\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading sqlalchemy-2.0.42-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   ------------------- -------------------- 1.0/2.1 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 5.4 MB/s eta 0:00:00
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.42

WARNING: Ignoring invalid distribution ~treamlit (C:\Users\oalya\miniconda3\envs\env\Lib\site-packages)
WARNING: Ignoring invalid distribution ~treamlit (C:\Users\oalya\miniconda3\envs\env\Lib\site-packages)
WARNING: Ignoring invalid distribution ~treamlit (C:\Users\oalya\miniconda3\envs\env\Lib\site-packages)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: ipython-sql in c:\users\oalya\miniconda3\envs\env\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\oalya\miniconda3\envs\env\lib\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython-sql) (9.2.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\oalya\miniconda3\envs\env\lib\site-packages (from ipython-sql) (2.0.42)
Requirement already satisfied: sqlparse in c:\users\oalya\miniconda3\envs\env\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\oalya\miniconda3\envs\env\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\oalya\appdata\roaming\python\python312\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet>=1 in c:\users\oalya\miniconda3\envs\env\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\oalya\miniconda3\envs\env\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.13.2)
Requirement already satisfied: colorama in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\oalya\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\oalya\appdata\roaming\python\python312\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\oalya\appdata\roaming\python\python312\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\oalya\appdata\roaming\python\python312\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\oalya\appdata\roaming\python\python312\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

WARNING: Ignoring invalid distribution ~treamlit (C:\Users\oalya\miniconda3\envs\env\Lib\site-packages)
WARNING: Ignoring invalid distribution ~treamlit (C:\Users\oalya\miniconda3\envs\env\Lib\site-packages)
WARNING: Ignoring invalid distribution ~treamlit (C:\Users\oalya\miniconda3\envs\env\Lib\site-packages)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("datasets/my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

WARNING: Ignoring invalid distribution ~treamlit (C:\Users\oalya\miniconda3\envs\env\Lib\site-packages)
WARNING: Ignoring invalid distribution ~treamlit (C:\Users\oalya\miniconda3\envs\env\Lib\site-packages)
WARNING: Ignoring invalid distribution ~treamlit (C:\Users\oalya\miniconda3\envs\env\Lib\site-packages)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: SPACEXTBL
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [10]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [11]:
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

In [12]:
df.describe()

       PAYLOAD_MASS__KG_
count         101.000000
mean         6138.287129
std          4900.998607
min             0.000000
25%          2500.000000
50%          4535.000000
75%          9600.000000
max         15600.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               101 non-null    object
 1   Time (UTC)         101 non-null    object
 2   Booster_Version    101 non-null    object
 3   Launch_Site        101 non-null    object
 4   Payload            101 non-null    object
 5   PAYLOAD_MASS__KG_  101 non-null    int64
 6   Orbit              101 non-null    object
 7   Customer           101 non-null    object
 8   Mission_Outcome    101 non-null    object
 9   Landing_Outcome    101 non-null    object
dtypes: int64(1), object(9)
memory usage: 8.0+ KB

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [14]:
unique_launch_sites = df['Launch_Site'].unique()
print("Unique Launch Sites:")
print(unique_launch_sites)

Unique Launch Sites:
['CCAFS LC-40' 'VAFB SLC-4E' 'KSC LC-39A' 'CCAFS SLC-40']


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [15]:
filtered_df = df[df['Launch_Site'].str.startswith('CCA')]
print(filtered_df.head(5))

         Date Time (UTC) Booster_Version  Launch_Site  \
0  2010-06-04   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  2010-12-08   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  2012-05-22    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  2012-10-08    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  2013-03-01   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [16]:
nasa_crs_payload = df[df['Customer'].str.contains('NASA \(CRS\)')]
total_payload_mass = nasa_crs_payload['PAYLOAD_MASS__KG_'].sum()
print(f"Total payload mass for NASA (CRS) missions: {total_payload_mass} kg")

Total payload mass for NASA (CRS) missions: 48213 kg

<>:1: SyntaxWarning: invalid escape sequence '\('
<>:1: SyntaxWarning: invalid escape sequence '\('
C:\Users\oalya\AppData\Local\Temp\ipykernel_25492\2208056968.py:1: SyntaxWarning: invalid escape sequence '\('
  nasa_crs_payload = df[df['Customer'].str.contains('NASA \(CRS\)')]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [17]:
f9_v1_1_df = df[df['Booster_Version'].str.contains('F9 v1.1')]
average_payload = f9_v1_1_df['PAYLOAD_MASS__KG_'].mean()
print(f"Average payload mass for F9 v1.1 booster: {average_payload:.2f} kg")

Average payload mass for F9 v1.1 booster: 2534.67 kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [18]:
# Filter for successful ground pad landings
successful_ground_landings = df[df['Landing_Outcome'] == 'Success (ground pad)']

# Convert the 'Date' column to datetime
successful_ground_landings['Date'] = pd.to_datetime(successful_ground_landings['Date'])

# Find the earliest date
first_ground_landing_date = successful_ground_landings.sort_values('Date').iloc[0]['Date']
print(f"First successful ground pad landing date: {first_ground_landing_date.date()}")

First successful ground pad landing date: 2015-12-22

C:\Users\oalya\AppData\Local\Temp\ipykernel_25492\677111776.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  successful_ground_landings['Date'] = pd.to_datetime(successful_ground_landings['Date'])

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [19]:
filtered_boosters = df[
    (df['Landing_Outcome'] == 'Success (drone ship)') &
    (df['PAYLOAD_MASS__KG_'] > 4000) &
    (df['PAYLOAD_MASS__KG_'] < 6000)
]

unique_boosters = filtered_boosters['Booster_Version'].unique()
print("Boosters with success on drone ship and payload mass between 4000 and 6000 kg:")
print(unique_boosters)

Boosters with success on drone ship and payload mass between 4000 and 6000 kg:
['F9 FT B1022' 'F9 FT B1026' 'F9 FT  B1021.2' 'F9 FT  B1031.2']

### Task 7




##### List the total number of successful and failure mission outcomes

In [20]:
outcome_counts = df['Mission_Outcome'].value_counts()
print("Total number of mission outcomes:")
print(outcome_counts)

Total number of mission outcomes:
Mission_Outcome
Success                             98
Failure (in flight)                  1
Success (payload status unclear)     1
Success                              1
Name: count, dtype: int64

### Task 8



##### List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.

In [21]:
# Step 1: Get the maximum payload mass
max_payload = df['PAYLOAD_MASS__KG_'].max()

# Step 2: Get all booster versions that carried this payload
boosters_with_max_payload = df[df['PAYLOAD_MASS__KG_'] == max_payload]['Booster_Version'].unique()

print(f"Maximum payload mass: {max_payload} kg")
print("Booster versions that carried the maximum payload:")
print(boosters_with_max_payload)

Maximum payload mass: 15600 kg
Booster versions that carried the maximum payload:
['F9 B5 B1048.4' 'F9 B5 B1049.4' 'F9 B5 B1051.3' 'F9 B5 B1056.4'
 'F9 B5 B1048.5' 'F9 B5 B1051.4' 'F9 B5 B1049.5' 'F9 B5 B1060.2 '
 'F9 B5 B1058.3 ' 'F9 B5 B1051.6' 'F9 B5 B1060.3' 'F9 B5 B1049.7 ']

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [22]:
# Extract year and month from 'Date'
df['Year'] = df['Date'].str[:4]
df['Month'] = df['Date'].str[5:7]

# Filter for year 2015 and landing failures on drone ships
filtered_df = df[
    (df['Year'] == '2015') &
    (df['Landing_Outcome'].str.contains('Failure')) &
    (df['Landing_Outcome'].str.contains('drone ship'))
]

# Optional: convert month number to month name
import calendar
filtered_df['Month_Name'] = filtered_df['Month'].apply(lambda x: calendar.month_name[int(x)])

# Select relevant columns
result = filtered_df[['Month_Name', 'Booster_Version', 'Launch_Site', 'Landing_Outcome']]
print(result)

   Month_Name Booster_Version  Launch_Site       Landing_Outcome
13    January   F9 v1.1 B1012  CCAFS LC-40  Failure (drone ship)
16      April   F9 v1.1 B1015  CCAFS LC-40  Failure (drone ship)

C:\Users\oalya\AppData\Local\Temp\ipykernel_25492\3155162580.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Month_Name'] = filtered_df['Month'].apply(lambda x: calendar.month_name[int(x)])

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [23]:
# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Filter by date range
filtered_df = df[
    (df['Date'] >= '2010-06-04') &
    (df['Date'] <= '2017-03-20')
]

# Count and rank Landing Outcomes
landing_outcome_counts = (
    filtered_df['Landing_Outcome']
    .value_counts()
    .reset_index()
    .rename(columns={'index': 'Landing_Outcome', 'Landing_Outcome': 'Count'})
)

print("Landing outcomes ranked between 2010-06-04 and 2017-03-20:")
print(landing_outcome_counts)

Landing outcomes ranked between 2010-06-04 and 2017-03-20:
                    Count  count
0              No attempt     10
1    Failure (drone ship)      5
2    Success (drone ship)      5
3      Controlled (ocean)      3
4    Success (ground pad)      3
5     Failure (parachute)      2
6    Uncontrolled (ocean)      2
7  Precluded (drone ship)      1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>